.chat-content {
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow-y: auto;
}

.chat-content-container {
  padding: 0 20vw;
}

@media (max-width: 600px) {
  .chat-content-container {
    padding: 0 10vw;
  }
}
